@import './fonts-sans.css';
@import './fonts-serif.css';
@import './fonts-mono.css';

@import 'tailwindcss';
@import 'tw-animate-css';
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));
:root {
  --header-height: 3.5rem;
  --font-size: 1rem;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);
  --radius: 0.625rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --letter-spacing: var(--letter-spacing);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    @apply tracking-widest;
  }
  body {
    @apply bg-background text-foreground h-full w-full overflow-hidden;
    background-image: url('images/logo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.bg-app {
  width: 100%;
  height: 100%;
  background-image: url('/images/bg-acceso.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.ce-popover__items {
  overflow: hidden;
}
.ce-block__content,
.ce-toolbar__content {
  max-width: 84% !important;
}

@layer components {
  #root {
    @apply flex h-screen w-screen flex-col items-center justify-center;
  }
  #splash {
    @apply flex flex-col items-center gap-2 transition-opacity duration-500 ease-in-out;
  }
  #splash h1 {
    @apply text-card w-full text-center text-6xl font-bold;
    color: var(--card-foreground) !important;
    font-family: 'Fira Code';
  }
  #splash img {
    width: 60%;
  }
  input,
  button {
    @apply focus:!ring-0 focus:!ring-offset-0;
  }
  .border-style-app {
    --tw-border-style: var(--border-style);
    border-style: var(--border-style);
  }
  .link-active-collapsible {
    @apply bg-sidebar-accent text-sidebar-accent-foreground font-bold!;
    --tw-border-style: var(--border-style);
    border-style: var(--border-style);
    > svg {
      @apply bg-sidebar-accent text-sidebar-accent-foreground font-bold!;
    }
  }
  .link-active-dropdown {
    @apply bg-accent text-accent-foreground font-bold;
    --tw-border-style: var(--border-style);
    border-style: var(--border-style);
  }
  .scrollbar-custom {
    @apply [&::-webkit-scrollbar-thumb]:bg-primary/50 [&::-webkit-scrollbar-track]:bg-primary/10 [&::-webkit-scrollbar]:h-2 [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-thumb]:rounded-sm [&::-webkit-scrollbar-track]:rounded-sm;
  }
}

/* Start Clerk */

.cl-rootBox {
  width: 100%;
  height: 100%;
}
.cl-cardBox {
  width: 100% !important;
  height: 100% !important;
  box-shadow: none !important;
}
.cl-footer *,
.cl-navbar * {
  background: none !important;
}
h1[data-localization-key='userProfile.navbar.title'],
p[data-localization-key='userProfile.navbar.description'] {
  display: none !important;
}
.cl-navbar > div:nth-child(2) {
  gap: 0 !important;
}

/*End Clerk*/
html {
  font-family: var(--font-default);
}
